*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#signup-form
{
    margin: 0 auto;
    display: block;
}
.heading-form
{
    text-align: center;
}

#formformat
{
    border:  2px solid #ecd4b8;
    width: 35%;
    margin-top: 13%;
    margin-left: 27%;
    background: #f1e6d8;
    padding: 1%;
    border-radius:  37px;
    
}
.inline.field
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.input-pass-icon
{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    
}
.button-account
{
    text-align: center;
    margin: 2%;
}
.sign-in
{
    color:rgb(43, 54, 202);
    cursor:pointer;
}
#submit-login
{
    margin: 0 auto;
    display: block;
}
.err-msg
{
    color: red;
    font-size: 15px;
}
#show-off
{
    margin:1%
}