*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#signup-form
{
   
    margin: 0 auto;
    display: block;
   
}

#formformat
{
    border:  2px solid #e4ab6a;
    width: 45%;
    margin-top: 13%;
    margin-left: 25%;
    background: #fed7aa;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 1%;
    border-radius:  37px;
    
}
.inline.field
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.input-pass-icon
{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    
}
.button-account
{
    text-align: center;
    margin: 2%;
}
.sign-in
{
    color:rgb(43, 54, 202);
    cursor:pointer;
}
#submit-login
{
    margin: 0 auto;
    display: block;
}
.err-msg
{
    color: red;
    font-size: 15px;
}
#show-off
{
    margin:1%
}